@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Roboto:ital@0;1&family=Rubik:ital,wght@0,400;0,500;0,800;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 93vw;
    height: 50vh;
    background-color: black;
    color: rgba(255, 255, 255, 0.664);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.relogio {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
    align-items: center;
    margin-left: 5vw;
}


.horas {
    font-size: 200pt;
    margin-left: 20%;
}

.minutos {
    font-size: 200pt;
    margin-right: 20%;
}

.space {
    font-size: 90pt;
}

@media (max-width: 500px) {
    .horas {
        font-size: 120pt;
    }
    
    .minutos {
        font-size: 120pt;
    }

    .space {
        font-size: 80pt;
    }
}
