@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Roboto:ital@0;1&family=Rubik:ital,wght@0,400;0,500;0,800;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.664);
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.relogio {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 200px;
    text-align: center;
    align-items: center;
    margin-left: 5vw;
}


.horas {
    font-size: 250pt;
}

.minutos {
    font-size: 250pt;
}

.space {
    margin-left: 5vw;
    font-size: 200pt;
}

@media (max-width: 999px) {
    body {
        width: 100vw;
    }    

    .relogio {
        width: 800px;
        height: 200px;
    }

    .horas {
        font-size: 200pt;
    }

    .minutos {
        font-size: 200pt;
    }
}

@media (max-width: 797px) {
    body {
        width: 100vw;
    }

    .relogio {
        width: 650px;
        height: 200px;
    }

    .horas {
        font-size: 200pt;
    }
    .minutos {
        font-size: 200pt;
    }
}

@media (max-width: 649px) {
    body {
        width: 100vw;
    }

    .relogio {
        width: 450px;
        height: 200px;
    }

    .horas {
        font-size: 150pt;
    }
    .minutos {
        font-size: 150pt;
    }
    .space {
        margin-top: -6vh;
    }
}

@media (max-width: 540px) {
    body {
        width: 99vw;
    }

    .relogio {
        width: 400px;
        height: 200px;
    }

    .horas {
        font-size: 120pt;
    }
    .minutos {
        font-size: 120pt;
    }
    .space {
        margin-left: 1vw;
        margin-top: -6vh;
        font-size: 100pt;
    }
}

@media (max-width: 410px) {
    body {
        width: 90vw;
    }

    .relogio {
        width: 400px;
        height: 200px;
        margin-left: 10vw;
    }

    .horas {
        font-size: 110pt;
    }
    .minutos {
        font-size: 110pt;
    }
    .space {
        margin-left: 1vw;
        margin-top: -6vh;
        font-size: 100pt;
    }
}

@media (max-width: 362px) {
    body {
        width: 100vw;
    }

    .relogio {
        width: 350px;
        height: 200px;
        margin-left: -2vw;
    }

    .horas {
        font-size: 100pt;
    }
    .minutos {
        font-size: 100pt;
    }
    .space {
        margin-left: 1vw;
        margin-top: -4vh;
        font-size: 90pt;
    }
}
